/*FONTS*/

@import url('https://fonts.googleapis.com/css?family=Satisfy');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400');

.flex {
  display: flex;
  height: 100%;
  justify-content: space-between;
  align-items: center;
}

.body {
  font-family: 'Roboto', sans-serif;

}
/*HEADER STYLES*/

.brand {
  font-family: 'Satisfy', cursive;
  color: #FD837E;
  font-size: 32px;
}

.logo {
  height: 92px;
  width: 150px;
  margin-left: 20px;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
  background-color: transparent;
  color: #69B1E4;
  margin-top: 20px;
  font-size: 20px;
}
.nav-pills>li>a {
  color: #69B1E4;
  font-size: 20px;
  margin-top: 20px;
}
/* BODY STYLING */

.doctors {
  margin-top: 20px;
}

.table {
  margin-top: -40px;
}

/*--------------------FOOTER STYLING-------------*/
footer {
   position: absolute;
   top: 800px;
   bottom:0;
   width: 100%;
   height: 180px;
   background-color: #231F20;
   color: #B9BABB;
   padding-top: 20px;
}
.contact-links {
  margin-top: 5px;
}

footer, footer a, footer:a hover {
  color: #B9BABB;
}
i {
  margin-right: 5px;
}

.footer-info {
  color: #8d8d8d;
}

.vl {
    border-left: 1px solid #B9BABB;
    height: 80px;
  }

.info {

  margin-left: 20px;
}

.logo-ft {
  height: 92px;
  width: 140px;

}

/*---------- MEDIA QUERIES ----------*/
@media screen and (max-width: 992px)
{
  footer .logo-ft {
    position: static;
  }
