/*FONTS*/

@import url('https://fonts.googleapis.com/css?family=Satisfy');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400');

.flex {
  display: flex;
  height: 100%;
  justify-content: space-between;
  align-items: center;
}

.body {
  font-family: 'Roboto', sans-serif;
}
/*HEADER STYLES*/

.brand {
  font-family: 'Satisfy', cursive;
  color: #FD837E;
  font-size: 32px;
}

.logo {
  height: 92px;
  width: 150px;
  margin-left: 20px;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
  background-color: transparent;
  color: #69B1E4;
  margin-top: 20px;
  font-size: 20px;
}
.nav-pills>li>a {
  color: #69B1E4;
  font-size: 20px;
  margin-top: 20px;
}
/* BODY STYLING */

.feature {
  margin-left: 80px;
}
/*JUMBOTRON STYLE STARTS*/
.jumbotron {
background-image: url('../img/hero.jpg');
height: 475px;
background-position: center;
background-size: cover;

}
.jumbotron>p {
  color: #fff;
  font-size: 2em;
  margin-top: 36px;
}

.well {
  height: 100px;
  margin-right: 5px;
  background-color: #e2f1ff;
}

.ft {
  width: 800px;
  margin-left: -20px;
}

.purchase {
  display: flex;
  position: absolute;
  left: 90px;
  top: 760px;
}

.purchase > div {
  width: 240px;
  height:350px;
}

/* img styling */
.p1 {
  width: 180px;
  height: 180px;
}
.p2 {
  width: 180px;
  height: 180px;
}
.p3 {
  width: 180px;
  height: 180px;
}

/*SERVICES*/
.services {
  position: relative;
  top: -90px;
  right: 100px;
}

.s {
  margin: 5px;
}

.s-link {
  margin: 5px;
  text-align: center;
}
